.trigger{cursor: pointer;}
div.table{display: table; margin-bottom: 0;}
div.cell{display: table-cell;}
div.cell input{width: 100%;}
.amount {width: 100px; text-align: right;}
.amount input{text-align: right;}

#ui-datepicker-div{background: none repeat scroll 0 0 white; border: 1px solid #ccc;}